<mat-card>
  <mat-card-header>
    <mat-card-title>
      Interface Definition
      <button mat-button-icon color="primary" ngxClipboard [cbContent]="iface.fullclipout(httpcall)" matTooltip="copy interface" (cbOnSuccess)="isCopied = true" [class.cpy-success]= "isCopied" (click)="copyClick()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>
      
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="code-body">
      <pre>{{iface.output()}}</pre>
      <div  *ngIf="iface.subtypes">
      <app-sub-type [subs]="iface.subtypes"></app-sub-type>
      </div>    
  </mat-card-content>
  <mat-card-actions>
    
  </mat-card-actions>
</mat-card>
