  <div fxLayout="row wrap" >
  <mat-card fxFlex="100%">
    <app-url-input (urlsubmit)="getcall($event)" ></app-url-input>
  </mat-card>
    <div *ngIf="results" fxFlex="100%" fxLayout="row wrap">
      <app-i-options fxFlex="100%" [httpCall]="httpCall" (Ioptions)="genInterface($event,results)"></app-i-options>
      <mat-card fxFlex="60">
        <mat-card-header>
          <mat-card-title>
            Results for {{fullResponse.url}}
          </mat-card-title>
          <mat-card-subtitle>
              <p>Status Code: {{fullResponse.status}}  Text: {{fullResponse.statusText}}</p> 
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <app-resp-view  [jsonresp]="results"></app-resp-view>
        </mat-card-content>
        <mat-card-actions>
          [Actions]
        </mat-card-actions>
      </mat-card>
      <div *ngIf="tsInterface" fxFlex="40">
          <app-iout-card [iface]="tsInterface" [httpcall]="httpCall"></app-iout-card>
        
      </div>
  </div>
  <div *ngIf="error" class="errordiv">
    <p>Error Status: {{ error.status }} {{error.statusText}}</p>
    <p>Message: {{error.message}}</p>
  </div>
</div>