<mat-card class="i-opts">
<form [formGroup]="interfaceOptions" (ngSubmit)="setOptions()">
    <mat-form-field>
        <input matInput placeholder="Interface Prefix" formControlName="prefix">
    </mat-form-field>  
  <mat-form-field>
        <input matInput placeholder="Interface Name" formControlName="mainInt">
    </mat-form-field>
    <button mat-button color="primary" type="submit" >Generate Interface</button>
    <p *ngIf="interfaceOptions.value">e.g. interface will look like:</p><pre>export interface {{interfaceOptions.value.prefix+interfaceOptions.value.mainInt}} {{'{..}'}}</pre>
</form>
</mat-card>
